@media screen and ( max-width: 1400px )
  .hero
    &__title
      font-size: 30px
      line-height: 150%
      max-width: 320px
  .delivery
    &__description
      &-block
        max-width: 600px
@media screen and ( max-width: 1200px )
  .container
    max-width: 940px
  .about-us
    &__container
      background-size: 400px
    &__text
      font-size: 14px    
@media screen and ( max-width: 992px )
  .container
    max-width: 740px
  .header
    padding: 15px 0
    &__logo
      width: 70px
    &-nav
      display: none
    &__contacts
      &-group
        margin-left: auto
  .hero
    &__image
      height: calc(100vh - 180px)
  .about-us
    &__container
      background-size: 350px
      background-position: top 50px right
    &__text
      max-width: 400px
      // &:first-of-type
      //   max-width: 350px
      &:nth-of-type(1)        
        max-width: 350px
      &:nth-of-type(2)        
        max-width: 350px
      &:last-of-type
        max-width: 600px
  .socials
    &-wrapper
      left: 200px
    &-icon
      width: 25px
  .delivery
    font-size: 14px
    &__description
      &-block
        max-width: 420px
    &__list
      max-width: 250px
      &-item
        &-number
          margin-right: 10px
        &-title
          font-size: 16px
@media screen and ( min-width: 992px )
  .header
    &-nav
      &__link
        &:hover
          border-bottom: 2px solid $primary
          // transition: all 1s
  .contacts
    &-group
      &__item
        &:hover
          color: $primary
  .button
    transition: all 0.3s
    &:hover
      color: $primary-dark
      border-color: $primary-dark
@media screen and ( max-width: 767px )
  .container
    max-width: 540px
  .header
    padding: 10px 0
    &__logo
      width: 50px
    &__contacts-group
      display: none
  .hero
    padding-top: 0
    &__title
      font-size: 24px
      max-width: 260px
      padding: 15px 20px
      bottom: 5%
    &__button
      margin-top: 10px
      font-size: 18px
    &__image
      height: calc(100vh - 140px)
  .about-us
    &__container
      background: none
    &__row
      display: flex
      align-items: center
      justify-content: space-between
    &__info
      &-list
        max-height: none
        justify-content: space-between
        max-height: 340px
        // margin-top: 70px
      &-item
        margin-bottom: 30px
        &:last-of-type
          margin-bottom: 0
    &__text
      &:nth-of-type(n)        
        max-width: 300px
  .delivery
    &__row
      flex-direction: column-reverse
    &__description
      &-block
        max-width: 100%
    &__list
      max-width: 100%
      min-height: 300px
      margin-bottom: 40px
      &-item
        // align-items: center
        &-description
          max-width: 100%
  .reviews
    &__text
      font-size: 14px
@media screen and ( max-width: 640px )
  .container
    width: 90%
  .hero
    &__title
      font-size: 32px
      max-width: 340px
  .about-us
    &__row
      flex-direction: column
      align-items: stretch
    &__info
      &-list
        max-height: 200px
      &-item
        // width: 48%
        font-size: 14px
    &__text
      &:nth-of-type(n)        
        max-width: none
  .socials
    &-wrapper
      top: 20px
      left: auto
      right: 0
    &-icon
      width: 20px
@media screen and ( max-width: 460px )
  .section-title
    font-size: 32px
  .hero
    &__title
      font-size: 28px
      max-width: 300px
  .about-us
    &__row
      align-items: center
    &__info
      &-list
        max-height: none
        flex-direction: row
      &-icon
        margin-right: 0
        margin-bottom: 10px
      &-item
        flex-basis: 50%
        flex-direction: column
        font-size: 16px
        font-weight: 500
  .socials
    &-wrapper
      top: 10px
    &-icon
      width: 20px
  .reviews
    &__text
      font-size: 14px
  
  
