@media screen and ( max-width: 1400px )
  .hero
    &__title
      font-size: 30px
      line-height: 150%
      max-width: 290px
@media screen and ( max-width: 992px )
  .header
    &-nav
      display: none
    &__contacts
      &-group
        margin-left: auto
@media screen and ( max-width: 767px )
  .hero
    &__title
      font-size: 24px
      max-width: 235px
      padding: 15px 20px
  
