*, *::before, *::after
  box-sizing: border-box
*:focus
  // outline: 1px solid $primary
  box-shadow: 0 0 1pt 1pt $primary
  outline: none
html
  background-color: $light
  color: $dark-text
  font-family: 'Montserrat', sans-serif
  scroll-behavior: smooth
img
  max-width: 100%
.container
  max-width: 1140px
  margin: 0 auto
  width: 95%
  position: relative
.row 
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
.logo
  display: flex
  align-items: center
.button
  padding: 12px 16px
  font-size: 14px
  font-weight: 600
  border: 2px solid $primary
  color: $primary
  border-radius: 4px
  background-color: $primary-light
  text-transform: uppercase
  cursor: pointer
  box-shadow: 2px 2px 5px rgba($primary-dark, 0.5)
.socials
  &-wrapper
    display: flex
    // flex-direction: column
    align-items: center
    position: absolute
    z-index: 5
  &-link
    margin-left: 20px
  &-icon
    width: 30px
.section
  padding: 50px 0 50px
  &-title
    color: $primary-dark
    font-size: 42px
    font-weight: 800
    // letter-spacing: 1px
    margin: 0
.list
  &-item
    line-height: 140%
    &::before
      content: "\2022"
      color: $primary-dark
      font-weight: bold;
      display: inline-block
      width: 18px;
      font-size: 24px
.top-btn
  visibility: hidden
  opacity: 0
  padding: 0
  background-color: transparent
  border: none
  position: fixed
  bottom: 20px
  right: 5%
  z-index: 99
  cursor: pointer
  transition: opacity 1s
  outline: none
  border-radius: 50%
  &__icon
    height: 50px
    width: 50px
