.delivery
  background-color: $primary-light
  &__row
  &__section-title
    margin-bottom: 30px
  &__sub-title
    margin: 0
    margin-bottom: 10px
    color: $primary-dark
  &__description
    &-block
      max-width: 700px
  &__text
    margin-bottom: 30px
    line-height: 140%
    &-list
      margin: 0
      margin-bottom: 20px
      padding-left: 0
      list-style: none
      &-item
        line-height: 140%
        &::before
          content: "\2022"
          color: $primary-dark
          font-weight: bold;
          display: inline-block
          width: 18px;
          font-size: 24px
          // margin-left: -1em
  &__list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    min-height: 400px
    justify-content: space-evenly
    &-item
      // margin-bottom: 40px
      display: flex
      align-items: flex-start
      flex-direction: column
      // color: $primary-dark
      &-text
        // max-width: 350px
        display: flex
        align-items: center
        margin-bottom: 10px
      &-title
        margin: 0
        font-size: 20px
        color: $primary-dark
      &-number
        display: flex
        align-items: center
        justify-content: center
        height: 40px
        width: 40px
        border: 2px solid $primary-dark
        border-radius: 50%
        font-size: 22px
        font-weight: 500
        color: $primary-dark
        margin-right: 20px
      &-description
        display: block
        font-weight: normal
        max-width: 300px
  &__b2b
    &-file
      text-decoration: none
      display: inline-block

