.delivery
  background-color: $primary-light
  &__section-title
    margin-bottom: 30px
  &__sub-title
    margin: 0
    margin-bottom: 10px
    color: $primary
  &__description
    &-block
      max-width: 500px
  &__text
    margin-bottom: 30px
